

@model ChartModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Chart.js examples</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body>
    <h1> Bar chart example</h1>

    <canvas id="barchartexample" width="800" height="450"></canvas>

    <script>

        var xValues = [@Html.Raw(ViewBag.Labels)];
        var yValues = [@Html.Raw(ViewBag.Data)];
        var barColors = ["cyan", "green", "blue", "orange", "brown", "purple", "pink"];
        new Chart("myChart", {
            type: 'bar',
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Title',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>