@model MVC_EF_Start.Models.Exam 

@{
    ViewData["Title"] = "readData";
}

<h1>readData</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <table class="row">
       
        <tbody>
                @foreach (var p in ViewBag.level1)
                {
                    <tr>
                        <td>@p</td>
                    </tr>

                }
            
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
