@model MVC_EF_Start.Models.Exam 

@{
    ViewData["Title"] = "readData";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <title>Assignment - 5</title>
    <style>
        p {
            color: #333;
            text-align: justify;
            padding: 10px;
            margin-left: 10px;
        }

        h1 {
            color: darkgreen;
        }

        img {
            width: 100%;
            height: 700px;
        }
    </style>

    <script src="./js/main.js"></script>
</head>

<div class="topnav">

    <a  href="Index" >Home</a>
    <form asp-controller="Home" asp-action="Create" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="Create">Create Data</a>
    </form>
    <form asp-controller="Home" asp-action="Update" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="Update">Update Data</a>
    </form>
    <form asp-controller="Home"  class="active" asp-action="readData" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="readData">Read Data</a>
    </form>
    <form asp-controller="Home" asp-action="Delete" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="Delete">Delete Data</a>
    </form>
    <form asp-controller="Home" asp-action="DemoChart" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="DemoChart">Chart Data</a>
    </form>
    @*<a class="list-menu" asp-area="" asp-controller="Home" asp-action="DemoChart">Chart</a>*@
    <form asp-controller="Home" asp-action="Profile" method="post">
        <a type="submit" name="examID" value=@ViewBag.examID asp-controller="Home" asp-action="Profile">About Us</a>
    </form>
    @*<a asp-area="" asp-controller="Home" asp-action="Profile">About Us</a>*@
    <a href="javascript:void(0);" class="icon" onclick="homepageFunc()">  </a>

</div>

<h1>readData</h1>

<div>
    
    <table class="row">
       
        <tbody>
                @foreach (var p in ViewBag.level1)
                {
                    <tr>
                        <td>@p</td>
                    </tr>

                }
            
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
