
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>Assignment - 3</title>

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a href="index.html">Project</a>
        <a class="active" href="table1.html">Grade Data</a>
        <a href="table2.html">Level Numeric Data</a>
        <a href="table3.html">Level Percentage Data</a>
        <a href="profile.html">About Us</a>
    </div>

    <h2>2006 - 2011 NYS Math Test Results by Grade - Citywide - by Race-Ethnicity - Grade table information</h2>
    <p>The dataset can be found on <a href="https://catalog.data.gov/dataset/2006-2011-nys-math-test-results-by-grade-citywide-by-race-ethnicity">this link</a>.</p>
    <p>New York City Results on the New York State Mathematics Tests, Grades 3 - 8 </p>
    <div style="overflow-x:auto">
        <table>
            <tr>
                <th>Grade No.</th>
                <th>Grade</th>
                <th>Year</th>
                <th>Category</th>
                <th>Number Tested</th>
                <th>Mean Scale Score</th>
            </tr>
            <tr>
                <td>0</td>
                <td>3</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9768</td>
                <td>700</td>
            </tr>
            <tr>
                <td>1</td>
                <td>4</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9973</td>
                <td>699</td>
            </tr>
            <tr>
                <td>2</td>
                <td>5</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9852</td>
                <td>691</td>
            </tr>
            <tr>
                <td>3</td>
                <td>6</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9606</td>
                <td>682</td>
            </tr>
            <tr>
                <td>4</td>
                <td>7</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9433</td>
                <td>671</td>
            </tr>
            <tr>
                <td>5</td>
                <td>8</td>
                <td>2006</td>
                <td>Asian</td>
                <td>9593</td>
                <td>675</td>
            </tr>
            <tr>
                <td>6</td>
                <td>All Grades</td>
                <td>2006</td>
                <td>Asian</td>
                <td>58225</td>
                <td>687</td>
            </tr>
            <tr>
                <td>7</td>
                <td>3</td>
                <td>2007</td>
                <td>Asian</td>
                <td>9750</td>
                <td>706</td>
                2
            </tr>
        </table>
    </div>
    <br />
    <table>
        <tr>
            <td> <button type="button" onclick="alert('Row Created')">Create Row</button></td>
            <td> <button type="button" onclick="alert('Row Updated')">Update Row</button></td>
            <td> <button type="button" onclick="alert('Row Deleted')">Delete Row</button></td>
        </tr>
    </table>


</body>
</html>
